* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Tdark {
  background-color: #181818;
  color: #ffffff;
}

.Tlight {
  background-color: #f1f1f1;
}

.TfireBgLight {
  background-color: #e2e8f0;
}
.TfireBgDark {
  background-color: #0f0f0f;
}
.dark2 {
  background-color: #181818;
}
.dark {
  background-color: #0f0f0f;
  color: grey;
}

.light {
  background-color: #f9f9f9;
  color: black;
}

.Pdark {
  background-color: #212121;
  color: grey;
}

.Plight {
  background-color: #ffffff;
  color: black;
}
.darkSideBar {
  background-color: #212121;
  color: grey;
}

.lightSideBar {
  background-color: #ffffff;
  color: black;
}

.grey {
  color: grey;
}

.player-styled {
  max-width: 100%;
  max-height: 200px;
}
@media screen and (min-width: 768px) {
  .player-styled {
    min-width: 100%;
    min-height: 400px;
  }
}
.darkMode {
  color: grey;
}

.lightMode {
  color: #ffffff;
}

.Icon {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .Icon {
    font-size: 20px;
  }
  .saveIcon {
    font-size: 24px;
  }
}
.saveIcon {
  font-size: 20px;
}

.link-element {
  text-decoration: none;
  color: grey;
}
.link-element2 {
  text-decoration: none;
  color: black;
}

.trending-icon {
  height: 17px;
}

.light-bg {
  background-color: #383838;
}

.dark-bg {
  background-color: #f1f5f9;
}

.colorb {
  color: grey !important;
}
.colorc {
  color: black !important;
}

.cancel-button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px 15px;
  color: grey;
}

.confirmButton {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #1c80f0;
  border-radius: 4px;
  padding: 10px 15px;
  color: white;
}

@media screen and (min-width: 768px) {
  .logoutButton {
    display: block;
  }
}

.container-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bsDot {
  font-size: 22px;
  font-weight: bold;
}

.color-light {
  color: black;
  text-decoration: none;
}

.color-black {
  color: grey;
  text-decoration: none;
}

.TfaFire {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .responsive-Icon-Size {
    font-size: 20px;
  }
}
